.nounInfoRowBirthday {
  font-family: 'Blue Goblet';
  font-weight: bold;
  margin-left: 5px;
}

.birthdayInfoContainer {
  display: flex;
  align-items: center;
  /* display: inline; */
  width: 250px;
  height: 25px;
}

.birthdayIcon {
  margin-bottom: 4px;
  margin-right: 7px;
}
