.wrapper {
  position: relative;
}

.nounWrapper {
  align-self: flex-end;
  width: 100%;
}

.nounContentCol {
  position: relative;
  display: flex;
}

.auctionActivityCol {
  padding-right: 5rem;
  padding-bottom: 0rem;
  min-height: 520px;
  align-self: flex-end !important;
  position: relative;
  z-index: 1;
}

.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 0;
}

.bgWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  pointer-events: none;
  display: flex;
  overflow: hidden;
}

.goblinImg {
  position: absolute;
  width: 100%;
  /* max-width: 2600px; */
  height: auto;
  object-fit: contain;
  bottom: 0;
  left: 0;
  pointer-events: none;
}

.mobile {
  display: none;
}

@media (min-width: 2000px) {
  .goblinImg {
    bottom: -20vh;
  }
}

@media (max-width: 992px) {
  .nounWrapper {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }

  .auctionActivityCol {
    padding-top: 5%;
    padding-right: 5%;
    padding-left: 5%;
    width: 100%;
    background-color: white;
    position: relative;
    z-index: 1;
  }
  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }
}

@media (max-width: 568px) {
  .auctionActivityCol {
    width: 100%;
    margin-left: unset;
    margin-right: unset;
    padding-bottom: 2rem;
    padding-top: 2rem;
    padding-right: unset;
    padding-left: 0;
    position: relative;
    z-index: 1;
  }

  .nounWrapper {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2rem;
  }

  .nounContentCol {
    padding: 0rem;
  }
}
